* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 112.5%;
  line-height: 1.5;
  font-family: sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

[hidden] {
  display: none !important;
}

input,
button {
  font-size: 1em;
}
